button {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 0.8em;
    border: 0px;
}

.btn-ok {
    background-color: var(--sucess-color);
}

.btn-icon {
    width: 30px;
    cursor: pointer;
}

.btn-selecionar {
    padding-left: 40px;
    padding-right: 40px;
}

button:hover,
.btn-trash:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary-color);
}
/** GLOW HOVER */
button:hover,
.btn-icon:hover,
.btn-trash:hover {
    box-shadow: 10px 10px 100px 2px var(--contrast-color);
}

.btn-cancelar {
    background-color: var(--destaque-color);
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-close,
.btn-remove {
    position: absolute;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.btn-main {
    width: 200px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 400;
    background-color: var(--contrast-high-color);
}

.btn-remove {
    top: 25%;
    right: 0px;
}

.btn-tab-switch {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 62px;
    width: 100%;
    z-index: 1000;
    cursor: pointer;
    background-color: rgb(157 157 157 / 34%);
}

.btn-tab-switch>.title {
    font-weight: 200;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 15px;
    overflow: hidden;
    height: 30px;
    padding-right: 40px;
}

@media (max-width: 320px) {
    .btn-tab-switch>.title {
        font-size: 20px;
        padding-top: 18px;

    }
}

.btn-tab-switch>.btn {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 40px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.tab.open>.btn-tab-switch>.btn {
    transform: rotate(45deg);
}

.btn-tab-switch>.btn::after {
    content: "|";
    transform: rotate(90deg);
    position: absolute;
    left: 14px;
    top: 10px;
}

.btn-tab-switch>.btn::before {
    content: "|";
    transform: rotate(90deg);
    position: absolute;
    top: 2px;
    left: 14px;
}


.tab.open>.btn-tab-switch>.btn::after {
    content: "|";
    transform: rotate(90deg);
    position: absolute;
    left: 14px;
    top: 6px;
}

.tab.open>.btn-tab-switch>.btn::before {
    content: "|";
    transform: rotate(0deg);
    position: absolute;
    top: 5px;
    left: 13px;
}



.btn-trash {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 40px;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #bb0c0c;

    cursor: pointer;
}

/* Cover */

.btn-trash:hover::before {
    transform: rotate(-20deg);
    left: 6px;
    top: 3px;
}

.btn-trash::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 6px;
    width: 14px;
    height: 6px;
    background-image: url("../img/icons-interface/icon-trash-cover.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-trash::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 12px;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons-interface/icon-trash-basket.png");
    background-size: contain;
    background-repeat: no-repeat;
}