.form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;

    overflow: hidden;
    padding: 13px;
    padding-top: 10px;
    z-index: 0;

}

@media (min-width: 600px) {
    .form {
        min-width: 570px;
    }
}

.form>.title {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.form>div {
    margin-top: 10px;
    width: 49%;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .form>div {
        width: 99%;
    }
}

.form>.action {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .full {
    width: 100%;
    margin: 0px;
}
