.form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;

    overflow: hidden;
    padding: 13px;
    padding-top: 10px;
    z-index: 0;

}

@media (min-width: 600px) {
    .form {
        min-width: 570px;
    }
}

.form>.title {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.form>div {
    margin-top: 10px;
    width: 49%;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .form>div {
        width: 99%;
    }
}

.form>.action {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .full {
    width: 100%;
    margin: 0px;
}

.tab {
    position: relative;
    padding: 10px;
    box-shadow: 10px 10px 100px 2px #ccc;
    border-radius: 26px;
    margin-bottom: 20px;
    overflow: hidden;
    min-width: 391px;
}

@media (max-width: 500px) {
    .tab {
        min-width: 95%;
    }
}

.tab.close {
    height: 42px;
}

.tab.open .btn-close {
    transform: rotate(0deg);
}

.tab.close .btn-close {
    transform: rotate(90deg);
}

.tab>.btn-close {
    top: 10px;
    right: 10px;
    z-index: 1;
}