.form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;

    width: 90%;
    padding-top: 10px;
    z-index: 0;

}


@media (min-width: 600px) {
    .form {
        min-width: 570px;
    }
}

@media (min-width: 1000px) {
    .form {
        min-width: 900px;
    }
}

.form-bar-bottom{
    margin-bottom: 10px;
}

.action-bar-bottom {
    width: 100%;
    border-radius: 20px;
    background-color: var(--theme-color);
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    position: sticky;
    left: 0px;
    bottom: 0px;

    @media (min-width: 1000px) {
        & {
            width: 900px;
        }
    }
}

.form .full {
    width: 100%;
    margin: 0px;
}

