.list {
    /* box-shadow: 3px 3px 10px 0px #ccc; */
    border-radius: 18px;
    padding: 14px;
}

.list>.title {
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 16px;
}

.list>.item {
    border-bottom: 1px solid #cbd7e0;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
    animation-duration: 0.5s;
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
}

.list.mini {
    display: flex;
    flex-wrap: wrap;
}

.list>.item.mini {
    font-size: 14px;
    color: #909090;
}

.list>.cols {
    display: flex;
    justify-content: space-around;
}

.list>.cols>div {
    display: flex;
}

.list>.cols.total {
    margin-top: 25px;
    padding: 10px;
    border-radius: 16px;
    font-weight: 100;
    font-size: 17px;
}

.list>.cols>div>.text {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}

.list>.cols.bar-add-ingredientes {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.list>.cols>.options {
    flex-direction: row;
    flex-wrap: wrap;
}

.list>.cols>.options>label {
    width: 46%;
    background-color: #f3f3f3;
    margin: auto;
    border-radius: 16px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
    margin-left: 0px;
    font-size: 14px;
    padding-left: 11px;
    text-align: left;
}

.list>.cols>.options>label>input {
    margin-right: 6px;
}

.list>.cols>div b {
    color: #5495c2;
}

.list.resumo-calorias-diarias {
    box-shadow: 3px 3px 10px 0px #ccc;
}

.list.resumo-calorias-diarias>.cols>div {
    display: flex;
    flex-wrap: wrap;
}


.listItem {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    box-shadow: 3px 3px 10px 0px #ccc;
    padding: 10px;
    border-radius: 21px;

    margin: 10px;
    margin-left: 4px;

    animation-duration: 0.5s;
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
}

.listItem .title {
    font-size: 16px;
    font-weight: bold;
    color: #e87610;
    margin-bottom: 7px;
}

.listItem .title span {
    font-size: 12px;
    padding-left: 5px;
    color: #9d9d9d;
}

.listItem .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItem .actions .action {
    font-size: 13px;
}