.list>.item.mini {
    color: var(--contrast-color);
}

.list>.item.mini span,
.listItem .title div span {
    color: var(--primary-color);
}

.list>.title {
    color: var(--primary-color);
}

.list>.cols>div>.text {
    color: var(--primary-color);
}

.list {
    border-radius: 18px;
    padding: 14px;
}

.list>.title {
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 16px;
}

.list>.item {
    border-bottom: 1px solid #cbd7e0;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
}

.list.selecionados {
    padding-left: 0px;
    padding-right: 0px;
}

.list.selecionados .item {
    padding-right: 30px;
}

.list.selecionados .item b {
    font-weight: 100;
    font-size: 20px;
    color: var(--secondary-color);
}

.list.mini {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.list>.item.mini {
    font-size: 14px;
    border: 0px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.list>.cols {
    display: flex;
    justify-content: space-around;
}

.list>.cols>div {
    display: flex;
}

.list>.cols.total>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list>.cols.total {
    margin-top: 25px;
    padding: 10px;
    border-radius: 16px;
    font-weight: 100;
    font-size: 17px;
}

.list>.cols>div>.text {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 7px;
}

.list>.cols.bar-add-ingredientes {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.list>.cols>.options {
    flex-direction: row;
    flex-wrap: wrap;
}

.list>.cols>.options>label {
    width: 46%;
    margin: auto;
    border-radius: 16px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
    margin-left: 0px;
    font-size: 14px;
    padding-left: 11px;
    text-align: left;

    background-color: var(--secondary-color);
    color: var(--theme-color);
}

.list>.cols>.options>label>input {
    margin-right: 6px;
}

.list>.cols>div b {
    color: #5495c2;
}

.list.resumo-calorias-diarias>.cols>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list.resumo-calorias-diarias>.cols>div .title {
    font-weight: 100;
}

@media (max-width: 500px) {
    .list.resumo-calorias-diarias>.cols>div {
        width: 45%;
    }

    .list>.cols {
        flex-wrap: wrap;
    }
}



.listItem {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 8px;

    padding: 15px;
    border-radius: 21px;

    transition: all 0.3s ease-in-out;
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

.listItem .actions.right {
    position: absolute;
    top: -29px;
    right: -4px;
    width: 30px;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.listItem .actions.center {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.listItem.cardapio {
    padding-bottom: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.listItem.cardapio .total {
    margin: 15px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 18px;
    font-weight: 100;
}

.listItem.filtro {
    margin-top: 5px;
    margin-bottom: 10px;
}

.listItem .title {
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 100;
    flex-direction: column;
    border-bottom: 1px solid var(--destaque-color);
    ;
    padding-bottom: 9px;

}

.listItem .title div {
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;

}

.listItem .title div span {
    font-size: 14px;
}

.listItem .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 399px) {

    .listItem .actions {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .listItem .actions .btn-selecionar {
        margin-top: 15px;
    }

    .listItem .actions .action {
        width: 33.33333%;
    }
}

.listItem .actions .action {
    font-size: 15px;
    text-align: center;
}