.alert {

    padding: 10px;
    border-radius: 22px;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;

    z-index: 10000;

    color: #fff !important;
    

    .loading {
        display: flex;
        justify-content: center;
    }
}

.alert .title {
    font-size: 22px;
    font-weight: 300;
    color: var(--primary-color);
}

.alert.success,
.alert.error,
.alert.warning,
.alert.default {
    width: 320px;
    box-shadow: 3px 3px 30px var(--glow-color);

}
.alert.default{
    background-color: var(--theme-color);
}
.alert.error {
    background-color: #771c44;
}

.alert.success {
    background-color: #207e6e;
}

.alert.warning {
    background-color: #965f18;
}

.alert .bar-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.alert .bar-actions>* {
    margin-left: 10px;
}

.msg-warning{
    width: 100%;
    color: #fff;
    background-color: #d98000;
    border-radius: 23px;
    margin-bottom: 20PX;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}