.alert {
    width: 320px;
    padding: 10px;
    border-radius: 22px;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;

    z-index: 10000;

    color: #fff !important;
    background-color: var(--theme-color);
    box-shadow: 3px 3px 30px var(--glow-color);
}

.alert .title{
    font-size: 22px;
    font-weight: 300;
    color: var(--primary-color);
}
.alert.success{
    top: 80px;
}

.alert.error {
    background-color: #771c44;
}

.alert .bar-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.alert .bar-actions > *{
    margin-left: 10px;
}