.alert {
    width: 320px;
    padding: 10px;
    border-radius: 22px;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;

    z-index: 10000;
}

.alert.success{
    top: 80px;
}

.alert .bar-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.alert .bar-actions > *{
    margin-left: 10px;
}