@font-face {
    font-family: 'Roboto';
    src: url("../assets/roboto.woff2") format('woff2');
}

:root,
html,
body {
    overscroll-behavior: none;
}

.logo-main {

    width: 126px;
    height: 46px;
    background-size: contain;
    position: absolute;
    background-image: url(../assets/logo_dietinha.png?VerAPP1);
    background-repeat: no-repeat;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;

    @media (max-width: 900px) {
        display: none;
    }
}

app-login {
    display: flex;
    justify-content: center;
}

btn-sync {

    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    color: var(--primary-color);

    img {
        margin-right: 5px;
    }

    span {
        text-align: center;
        /* white-space: nowrap; */
    } 
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

* {
    font-family: 'Roboto';

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */


}

html,
body {
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
    font-size: 17px;
    color: var(--primary-color);
}

h1 {
    color: var(--blackwhite-color);
}

h4 {
    padding-bottom: 6px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;

    color: var(--contrast-color);
}

.grecaptcha-badge {
    display: none;
}

.debug-console {
    color: #fff;
    background-color: red;
    padding: 10px;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"] {
    color: var(--blackwhite-color);
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 14px;
    margin-top: 2px;
    height: 50px;
    width: 100%;
    background-color: var(--theme-color);
    border: 1px solid var(--secondary-color);
}

.text {
    color: var(--blackwhite-color);
}

.text-mini {
    color: var(--contrast-color);
    font-size: 12px;
}

.txtPesquisa {
    margin-bottom: 15px;
}

.textForm {
    width: 100%;
    height: 40px;
}

.descricao {
    font-size: 13px;
    margin-top: 10px;
    color: #808080;
}

.blur {
    filter: blur(5px);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}



*::-webkit-scrollbar,
*::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-corner {
    background: transparent;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 1px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    background-color: var(--theme-color);
}