body {
    background-color: #fff;
}

/* FORMS */

.form>.title {
    color: #000;
}


.tab {
    box-shadow: 10px 10px 100px 2px #ccc;
}

.txtSuccess {
    color: #007767;
    font-size: 16px;
    font-weight: bold;
}

button {
    background-color: #124c74;
    color: #fff;
}

/* BUTTONS */

.btn-screen-switch {

    color: var(--secondary-color);

    img {
        filter: brightness(0.7);
    }

}

.btn-remove {
    background-color: #f03272;
}



/* TABS */

.btn-tab-switch>.btn {
    background-color: #ccc;
}

.tab.open .btn-tab-switch>.btn {
    background-color: #E91E67;
    color: #fff;
}

.list>.cols.total {
    background-color: #fafafa;
}

.listItem.filtro .actions .action {
    color: #000;
}

* {
    --primary-color: #57bfd4;
    --secondary-color: #34737f;
    --theme-color: #f5f5f5;
    --destaque-color: #8d8d8d;
    --contrast-color: #5d7f85;
    --contrast-high-color: #512b6f;
    --glow-color:  rgba(186, 186, 186, 0.9);
    --sucess-color: #3bac99;
    --blackwhite-color: #000;

}
