body {
    background-color: #000;
}

* {
    color: #fff;
}

/* FORMS */

.form>.title {
    color: #fff;
}

label {
    color: #5db1ea;
}

.tab {
    box-shadow: 10px 10px 100px 2px #3a3a3a;
}


input[type="number"],
input[type="text"] {
    box-shadow: 2px 3px 11px #59595982 inset;
    background-color: #111111;
    border: 1px solid #fff;
}

.txtSuccess {
    color: #007767;
    font-size: 16px;
    font-weight: bold;
}


/* BUTTONS */
.btn-mini {
    background-color: #515151;
    color: #ffffff;
}

.btn-remove {
    background-color: #f03272;
    color: #fff;
}

.btn-ok {
    background-color: #5db1ea;
}

/* TABS */

.btn-tab-switch>.btn {
    background-color: #454545;
}

.tab.open .btn-tab-switch>.btn {
    background-color: #e23674;
}

/* LISTAS */

.list.resumo-calorias-diarias {
    background-color: #383838;
}

/* .list>.title {
    color: #e87610;
}

.list>.cols>div>.text {
    color: #5db1ea;
} */

.list>.cols.total {
    background-color: #232323;
}

.list>.cols.total>div {
    color: #fff;
}


.list>.cols>.options>label input:checked ~ label {
    background-color: #da7d00;
}

.listItem.cardapio {
    background-color: #383838;
}

.listItem.filtro {
    background-color: #161616;
}

.listItem.filtro .actions .action div {
    color: #5db1ea;
}

*{
    --primary-color: #57bfd4;
    --secondary-color: #a7e9f6;
    --theme-color: #232323;
    --destaque-color: #595959;
    --contrast-color: #c7c7c7;
    --contrast-high-color: #f6a7a7;
}



/* ALERTS */

.alert {
    color: #fff;
    background-color: #ccc;
    box-shadow: 3px 3px 30px #000000;
}

.alert.error {
    background-color: brown;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.warning {
    background-color: #c87200;
}