body {
    background-color: #000;
}

* {
    color: #fff;
}

/* FORMS */

.form>.title {
    color: #fff;
}

label {
    color: #5db1ea;
}

.tab {
    box-shadow: 10px 10px 100px 2px #3a3a3a;
}

button {
    background-color: #a4d8ff;
    color: #000000;
}

input[type="number"],
input[type="text"] {
    box-shadow: 3px 3px 8px #59595982 inset;
    background-color: #111111;
    border-color: #808080;
}

.txtSuccess {
    color: #007767;
    font-size: 16px;
    font-weight: bold;
}

/* TEXTS */

h4 {
    color: #fff;
    border-bottom-color: #383838;
}

/* BUTTONS */
.btn-mini {
    background-color: #515151;
    color: #ffffff;
}

.btn-remove {
    background-color: #f03272;
    color: #fff;
}

.btn-ok {
    background-color: #4CAF50;
}

.btn-cancelar {
    background-color: #c6c6c6;
}

/* TABS */

.btn-tab-switch > div {
    background-color: #454545;
}

.tab.open .btn-tab-switch > div {
    background-color: #E91E67;
}

/* LISTAS */

.list.resumo-calorias-diarias {
    background-color: #383838;
}

.list>.title {
    color: #e87610;
}

.list>.cols>div>.text {
    color: #4CAF50;
}

.list>.cols.total {
    background-color: #232323;
}

.list>.cols.total>div {
    color: #fff;
}

.list>.cols>.options>label {
    background-color: #2f2f2f;
}

.listItem.cardapio {
    background-color: #383838;
}

.listItem .title {
    color: #e87610;
}

.listItem .title div {
    color: #9d9d9d;

}

.listItem .title div span {
    color: #06a47a;
}

.list>.item.mini {
    color: #fff;
}

.list>.item.mini span {
    color: #06a47a;
}


/* ALERTS */

.alert {
    color: #fff;
    background-color: #ccc;
    box-shadow: 3px 3px 100px #646464;
}

.alert.error {
    background-color: brown;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.warning {
    background-color: #4f3103;
}