body {
    background-color: #000;
}

* {
    color: #fff;
}

/* FORMS */

.form>.title {
    color: #fff;
}

label {
    color: #5db1ea;
}

.tab {
    box-shadow: 10px 10px 100px 2px #3a3a3a;
}


.txtSuccess {
    color: #007767;
    font-size: 16px;
    font-weight: bold;
}


/* BUTTONS */
.btn-mini {
    background-color: #515151;
    color: #ffffff;
}

.btn-remove {
    background-color: #f03272;
    color: #fff;
}


/* TABS */

.btn-tab-switch>.btn {
    background-color: #454545;
}

.tab.open .btn-tab-switch>.btn {
    background-color: #e23674;
}

/* LISTAS */

.list.resumo-calorias-diarias {
    background-color: #383838;
}

/* .list>.title {
    color: #e87610;
}

.list>.cols>div>.text {
    color: #5db1ea;
} */

.list>.cols.total {
    background-color: #232323;
}

.list>.cols.total>div {
    color: #fff;
}


.list>.cols>.options>label input:checked ~ label {
    background-color: #da7d00;
}

.listItem.filtro {
    background-color: #161616;
}

.listItem.filtro .actions .action div {
    color: #5db1ea;
}

*{
    --primary-color: #57bfd4;
    --secondary-color: #a7e9f6;
    --theme-color: #232323;
    --destaque-color: #595959;
    --contrast-color: #e4e4e4;
    --contrast-high-color: #512b6f;
    --glow-color:  rgba(128, 128, 128, 0.9);
    --sucess-color: #1c695c;
}



/* ALERTS */



.alert.error {
    background-color: brown;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.warning {
    background-color: #c87200;
}