body {
    background-color: #fff;
}

* {
    color: #000;
}

/* FORMS */

.form>.title {
    color: #000;
}

label {
    color: #124c74;
}

.tab {
    box-shadow: 10px 10px 100px 2px #ccc;
}

.txtSuccess {
    color: #007767;
    font-size: 16px;
    font-weight: bold;
}

button {
    background-color: #124c74;
    color: #fff;
}

/* BUTTONS */

.btn-remove {
    background-color: #f03272;
}

.btn-ok {
    background-color: #4CAF50;
}

/* TABS */

.btn-tab-switch>.btn {
    background-color: #ccc;
}

.tab.open .btn-tab-switch>.btn {
    background-color: #E91E67;
    color: #fff;
}

.list>.cols.total {
    background-color: #fafafa;
}

.list>.cols.total>div {
    color: #000;
}

.listItem.cardapio {
    background-color: #f5f5f5;
}

.listItem.filtro {
    background-color: #f1f1f1;
}

.listItem.filtro .actions .action {
    color: #000;
}

* {
    --primary-color: #57bfd4;
    --secondary-color: #0a95b0;
    --theme-color: #e8e8e8;
    --destaque-color: #d6d6d6;
    --contrast-color: #134049;
    --contrast-high-color: #d8a4ff;    
    --glow-color:  rgba(186, 186, 186, 0.9);
}

/* ALERTS */

.alert {
    color: #fff;
    background-color: #ccc;
    box-shadow: 3px 3px 100px #000;
}

.alert.error {
    background-color: brown;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.warning {
    background-color: #c87200;
}