app-cardapio-item {
    display: flex;
}

app-cardapio-item {
    .listItem.cardapio {
        width: 100%;
    }    
}

.listItem.cardapio {
    padding-bottom: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
    background-color: var(--theme-color);
}

.listItem.cardapio .total {
    margin: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
}

.text-intro {
    color: var(--destaque-color);
}
.total span{
    color: var(--secondary-color);
}