app-cardapio {
    padding: 10px;
    display: block;
    border-radius: 15px;
}

app-cardapio-item {
    display: flex;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

app-cardapio-item {
    .listItem.cardapio {
        width: 100%;
    }
}

.listItem.cardapio,
.listItem.registro {
    padding-bottom: 15px;
    padding-right: 30px;
    padding-top: 11px;
    margin-bottom: 20px;

    background-color: var(--theme-color);
    align-items: flex-start;

    .actions.center {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .title {
        color: var(--primary-color);
    }

    .total {
        margin: 15px;
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 15px;
        color: var(--blackwhite-color);
        font-weight: 300;
    }
}

.listItem.cardapio {
    .total {
        margin-top: 15px;
    }
}

.listItem.cardapio.assistente {
    border: 2px solid var(--contrast-high-color);

    &::before {
        content: "";
        background-image: url("../../img/assistente.svg");
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        position: absolute;
        right: 7px;
    }
}

.text-intro {
    color: var(--glow-color);
}

.total span {
    color: var(--secondary-color);
}