app-ingredientes-selecionados .actions.right {
    position: absolute;
    top: -10px;
    right: 10px;
}

app-ingredientes-selecionados {
    .list-space-around {
        margin-top: 30px;
    }
}

app-ingredientes-selecionados-item{
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.selecionados {
    padding-left: 0px;
    padding-right: 0px;

    .title {
        margin-bottom: 30px;
    }
}

.selecionados .item {
    background-color: var(--secondary-color);
    padding-right: 40px;
    position: relative;
    margin-bottom: 15px;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #fff;
    padding-left: 15px;
    border-radius: 19px;
}

.selecionados .item b {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    display: block;
}