app-ingredientes-selecionados .actions.right {
    position: absolute;
    top: -6px;
    right: -2px;
}

app-ingredientes-selecionados {
    .list-space-around {
        margin-top: 30px;
    }
}

app-ingredientes-selecionados-item{
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.selecionados {
    padding-left: 0px;
    padding-right: 0px;

    .title {
        margin-bottom: 30px;
    }

    .item {
        background-color: var(--secondary-color);
        padding-right: 40px;
        position: relative;
        margin-bottom: 15px;
        border: 0px;
        padding-top: 15px;
        padding-bottom: 20px;
        color: #fff;
        padding-left: 15px;
        border-radius: 19px;
    
        .desc {
            font-size: 12px;
            margin-top: 10px;
        }
    
        b {
            font-weight: 500;
            font-size: 16px;  
            color: #fff;
            display: block;
        }
        
    }
}
