app-ingredientes-selecionados .actions.right {
    position: absolute;
    top: -6px;
    right: -2px;
}

app-ingredientes-selecionados {
    .list-space-around {
        margin-top: 30px;
    }
}

app-ingredientes-selecionados-item {
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.selecionados {
    padding-left: 0px;
    padding-right: 0px;

    .title {
        margin-bottom: 30px;
    }

    .item {
        background-color: var(--secondary-color);
        padding-right: 40px;
        position: relative;
        margin-bottom: 15px;
        border: 0px;
        padding-top: 15px;
        padding-bottom: 25px;
        color: #fff;
        padding-left: 45px;
        border-radius: 19px;



        .desc {
            font-size: 12px;
            margin-top: 7px;
            margin-bottom: 5px;
        }

        b {
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            display: block;
        }

        .categoria {
            position: absolute;
            bottom: 6px;
            left: 13px;
            font-size: 10px;
            opacity: 0.4;
        }

    }

}

.item,
.listItem {

    &::before,
    &.carnes::before,
    &.cereais::before,
    &.paes::before,
    &.legumes::before,
    &.frutas::before,
    &.batatas::before,
    &.feijoes::before,
    &.ovos::before,
    &.peixes::before,
    &.queijos::before,
    &.massas::before,
    &.cervejas::before,
    &.frangos::before,
    &.verduras::before {
        content: "";
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 7px;
        top: 7px;

        background-image: url("../../img/alimento.svg");

    }

    &.mini::before {
      display: none;
    }

    &.carnes {
        background-color: #7d6254;

        &::before {
            background-image: url("../../img/carnes.svg");
        }
    }

    &.cereais {
        background-color: #6d7d54;

        &::before {
            background-image: url("../../img/cereais.svg");
        }
    }

    &.paes {
        background-color: #7d5454;

        &::before {
            background-image: url("../../img/paes.svg");
        }
    }

    &.legumes {
        background-color: #68547d;

        &::before {
            background-image: url("../../img/legumes.svg");
        }
    }

    &.frutas {
        background-color: #0a3f26;

        &::before {
            background-image: url("../../img/frutas.svg");
        }
    }

    &.verduras {
        background-color: #0a3f26;

        &::before {
            background-image: url("../../img/verduras.svg");
        }
    }

    &.batatas {
        background-color: #54767d;

        &::before {
            background-image: url("../../img/batata.svg");
        }
    }

    &.queijos {
        background-color: #917b00;

        &::before {
            background-image: url("../../img/queijos.svg");
        }
    }

    &.feijoes {
        background-color: #547d72;

        &::before {
            background-image: url("../../img/feijoes.svg");
        }
    }

    &.ovos {
        background-color: #7d5470;

        &::before {
            background-image: url("../../img/ovos.svg");
        }
    }

    &.peixes {
        background-color: #547d5d;

        &::before {
            background-image: url("../../img/peixes.svg");
        }
    }

    &.massas {
        background-color: #547d7a;

        &::before {
            background-image: url("../../img/massas.svg");
        }
    }

    &.frangos {
        background-color: #7d7c54;

        &::before {
            background-image: url("../../img/frangos.svg");
        }
    }

    &.cervejas {
        background-color: #546f7d;

        &::before {
            background-image: url("../../img/cervejas.svg");
        }
    }
}