app-meta-diaria {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

app-meta-diaria>.col-3,
app-meta-diaria>.col-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

app-meta-diaria>.col-3>div,
app-meta-diaria>.col-2>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

app-meta-diaria>.col-3>div {
    width: 30%;
}

app-meta-diaria>.col-2>div {
    width: 47%;
}

app-meta-diaria>.title {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}



@media (max-width: 600px) {

    app-meta-diaria>.col-3>div,
    app-meta-diaria>.col-2>div {
        width: 45%;
        margin-left: 5px;
        margin-right: 5px;
    }

    app-meta-diaria>.col-3,
    app-meta-diaria>.col-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 400px) {

    app-meta-diaria>.col-3,
    app-meta-diaria>.col-2 {
        flex-direction: column;
    }

    app-meta-diaria>.col-3>div,
    app-meta-diaria>.col-2>div {
        width: 99%;
    }
}

app-meta-diaria>.action {
    width: 100%;
    display: flex;
    justify-content: center;
}