app-perfil {
    display: flex;
    justify-content: center;
}

app-perfil>.form {
    position: relative;
    display: flex;
    flex-direction: column;
}

app-perfil>.form>.col-3,
app-perfil>.form>.col-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

app-perfil>.form>.col-3>div,
app-perfil>.form>.col-2>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

app-perfil>.form>.col-3>div {
    width: 30%;
}

app-perfil>.form>.col-2>div {
    width: 47%;
}

app-perfil>.form>.title {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}



@media (max-width: 600px) {

    app-perfil>.form>.col-3>div,
    app-perfil>.form>.col-2>div {
        width: 45%;
        margin-left: 5px;
        margin-right: 5px;
    }

    app-perfil>.form>.col-3,
    app-perfil>.form>.col-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 400px) {

    /* app-perfil>.form>.col-3,
    app-perfil>.form>.col-2 {
        flex-direction: column;
    } */

    app-perfil>.form>.col-3>div,
    app-perfil>.form>.col-2>div {
        width: 99%;
    }
}

app-perfil>.form>.action {
    width: 100%;
    display: flex;
    justify-content: center;
}


.resumo-calorias-diarias {
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: var(--theme-color);
}

.resumo-calorias-diarias>.cols {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.resumo-calorias-diarias>.cols>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 15px;
    align-content: center;
    width: 25%;
    justify-content: center;

    @media (max-width: 600px) {
        & {
            width: 45%;
        }
    }
}

.resumo-calorias-diarias>.cols>div b {
    color: var(--contrast-color);
    margin-right: 5px;
}

.resumo-calorias-diarias>.cols>div .title {
    font-weight: 300;
    width: 100%;
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

.resumo-calorias-diarias .title-objetivo {
    font-size: 24px;
    font-weight: 200;
    color: var(--blackwhite-color);
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
        & {
            width: 100% !important;
            margin-bottom: 15px !important;
        }
    }
}

@media (max-width: 400px) {
    .resumo-calorias-diarias>.cols>div .title {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .resumo-calorias-diarias>.cols>div {
        width: 100%;
    }
}