.pesquisa-alimento-item-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    .bar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

app-pesquisa-alimento{
    margin-bottom: 20px;
    display: block;
}

app-pesquisa-alimento-item {
    width: 100%;
    display: flex;
    flex-direction: column;

    .bar-actions {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

.action-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.pesquisa-alimento-item>.title>div {
    margin-left: 20px;
}

.pesquisa-alimento-item-actions .action {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
}

.pesquisa-alimento-item-actions .action>b {
    color: var(--blackwhite-color);
    font-weight: 300;
    text-wrap: nowrap;
}

.pesquisa-alimento-item-actions .action>div {
    font-size: 20px;
    color: var(--primary-color);
}

.listItem .title div {
    color: var(--destaque-color);
}

.listItem .title div span {
    color: var(--secondary-color);
}

.listItem {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 8px;

    padding: 15px;
    border-radius: 21px;

    transition: all 0.3s ease-in-out;
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

@keyframes slide-in {
    from {
        translate: 0 10vw;
        /* scale: 50% 1; */
        opacity: 0;
    }

    to {
        translate: 0 0;
        /* scale: 100% 1; */
        opacity: 1;
    }
}