app-registro-alimentos .selecionados {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 15px;
}

app-registro-alimentos {
    width: 100%;

}

app-registro-alimentos .cardapio .data {
    text-align: right;
    color: var(--destaque-color);
    position: sticky;

}

app-registro-alimentos-item {
    padding-top: 0px;
    padding-bottom: 0px;

    .info-none {
        margin-top: 30px;
        display: block;
        text-align: center;
    }

    @media (min-width: 1000px) {
        .list-space-around>* {
            width: 44%;
        }
    }

    .total.meta {

        @media (max-width: 500px) {
            & {
                flex-direction: column;
                margin: 0px;
                margin-bottom: 20px;
            }
        }

        >div {
            width: 50%;
            position: relative;

            @media (max-width: 500px) {
                & {
                    width: 100%;
                    margin: 0px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }

            >div {
                display: flex;

                @media (max-width: 600px) {
                    flex-direction: column;
                }
            }
        }

        .destaque {
            background-color: var(--contrast-high-color);
            color: #fff;
            padding: 7px;
            border-radius: 16px;
            padding-bottom: 2px;
            padding-top: 2px;
            font-size: 15px;
            font-weight: 500;
        }

        .text {
            font-size: 14px;
            display: flex;
            flex-wrap: wrap;

            .target {
                margin-left: 5px;
                background-color: var(--secondary-color);
                color: #fff;
                border-radius: 10px;
                padding-left: 5px;
                padding-right: 7px;
                padding-top: 2px;
                padding-bottom: 2px;
                margin-top: -2px;
            }
        }
    }
}

.data {
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.hora {
    text-align: right;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    color: var(--blackwhite-color);
}

app-registro-alimentos-item>.total {
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%; */
    background-color: var(--theme-color);
    margin-bottom: 30px;
    position: sticky;
}

app-registro-alimentos-item::-webkit-scrollbar,
app-registro-alimentos-item::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

app-registro-alimentos-item::-webkit-scrollbar-corner,
app-registro-alimentos-item::-webkit-scrollbar-corner {
    background: transparent;
}

app-registro-alimentos-item::-webkit-scrollbar-thumb,
app-registro-alimentos-item::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 1px;
}

app-registro-alimentos-item::-webkit-scrollbar-track,
app-registro-alimentos-item::-webkit-scrollbar-track {
    background-color: var(--theme-color);
}