.btn-screen-switch,
.btn-screen-switch>.btn,
.btn-screen-switch svg path {
    transition: all 0.3s ease-in-out;
}

app-screens {
    width: 100%;
    height: 100%;
}

app-main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

app-config {
    width: 100%;
    display: flex;
    justify-content: center;

    .form .row {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.screen-header {
    display: flex;
    width: 100%;
    justify-content: space-between;


    >div {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    /*Left*/
    >div:nth-child(1) {
        width: 15%;
        justify-content: flex-start;
        padding-left: 15px;
    }

    /*Right*/
    >div:nth-child(3) {
        width: 15%;
        justify-content: flex-end;
        padding-top: 10px;
        padding-right: 15px;
    }

    @media (min-width: 1000px) {
        & {
            width: 900px;
        }
    }

}

.screens-nav {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: var(--theme-color);
    box-shadow: 10px 10px 50px 2px var(--contrast-color);
    display: flex;
    justify-content: center;

    >div {

        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        .btn-screen-switch {

            color: var(--blackwhite-color);

            border-top: 2px solid transparent;
            width: 23%;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            .btn {
                font-weight: 400;
                font-size: 11px;
            }

        }

        .btn-screen-switch.open {
            border-top: 2px solid var(--primary-color);

            .btn {
                color: var(--primary-color);
            }

            img {
                filter: none;
            }
        }

        .btn-screen-switch:hover {
            .btn {
                color: var(--primary-color);
            }

            img {
                filter: none;
            }
        }
    }

    @media (min-width: 580px) {
        >div {
            width: 580px;
        }
    }

}

.screen>.title,
.screen-header>.title {
    font-weight: 400;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: var(--blackwhite-color);
}

.screen {

    overflow: auto;
    z-index: 50;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;

    /*Estado inicial - closed*/
    translate: 0px -30px;
    opacity: 0;
}

.screen.open {
    translate: 0px 0px;
    opacity: 1;
    z-index: 110;
}

.screen.close {
    translate: 0px -30px;
    opacity: 0;
    z-index: 109;
}

@media (min-width: 1000px) {
    .screen {
        top: 80px;
    }

    .screens-nav {
        top: 0px;
        bottom: auto;
        box-shadow: 0px -20px 50px 2px var(--contrast-color);
    }

    .btn-screen-switch {
        border-top-width: 0xp;

        &.open {
            border-bottom: 2px solid var(--primary-color);
        }
    }

}